src/persistence/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="room" maxOccurs="9">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element type="xs:string" name="door" maxOccurs="4"/>
                            <xs:element name="item" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:byte" name="row" use="required"/>
                                            <xs:attribute type="xs:byte" name="col" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="challenge" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:byte" name="row" use="required"/>
                                            <xs:attribute type="xs:byte" name="col" use="required"/>
                                            <xs:attribute type="xs:string" name="state" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="row" use="required"/>
                        <xs:attribute type="xs:byte" name="col" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="player">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="roomRow"/>
                            <xs:element type="xs:byte" name="roomCol"/>
                            <xs:element name="inventory">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="item" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="row"/>
                        <xs:attribute type="xs:byte" name="col"/>
                        <xs:attribute type="xs:byte" name="health"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="row"/>
            <xs:attribute type="xs:byte" name="col"/>
        </xs:complexType>
    </xs:element>
</xs:schema>