src/persistence/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="rows"/>
                <xs:element type="xs:byte" name="cols"/>
                <xs:element name="room" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="row"/>
                            <xs:element type="xs:byte" name="col"/>
                            <xs:element type="xs:string" name="door" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="mapItem" minOccurs="0"/>
                            <xs:element name="challenge" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="door" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="player">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="roomRow"/>
                            <xs:element type="xs:byte" name="roomCol"/>
                            <xs:element type="xs:byte" name="tileRow"/>
                            <xs:element type="xs:byte" name="tileCol"/>
                            <xs:element type="xs:string" name="inventory"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>